@page
@model FamilyTreeServices.Pages.ProfileResults.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.TreeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.TreeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Birth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Death)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Death)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Profile.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
