@page
@model FamilyTreeServices.Pages.IssueResults.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    @if (Model.Profile1.Url != null)
    {
        <a href="@Html.DisplayFor(model => model.Profile1.Url)">
            @Html.DisplayFor(model => model.Profile1.Name)
        </a>
    }
    else
    {
        @Html.DisplayFor(model => model.Profile1.Name)
    }
    @Html.DisplayFor(model => model.Profile1.Birth) - @Html.DisplayFor(model => model.Profile1.Death)
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].ProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
