@page
@model GeniShowProfileModel
@{
    ViewData["Title"] = "Show profile";
}
<h2>Details</h2>
<h3>@ViewData["Message"]</h3>

<div>
    @if (Model.ProfileData != null)
    {
        <div style="background-color:white;padding:20px;">
            <h6>
                <a href="@Html.DisplayFor(model => model.ProfileData.Url)">
                    @Html.DisplayFor(model => model.ProfileData.Name)
                </a> (@Html.DisplayFor(model => model.ProfileData.Sex))
            </h6>
            <p>b: @Html.DisplayFor(model => model.ProfileData.BirthDate) in @Html.DisplayFor(model => model.ProfileData.BirthPlace)</p>
            <p>d: @Html.DisplayFor(model => model.ProfileData.DeathDate) in @Html.DisplayFor(model => model.ProfileData.DeathPlace)</p>
        </div>
    }
    @if (Model.ExtendedProfile != null)
    {
        @foreach (ExtendedFamilyInfo family in Model.ExtendedProfile.SpouseInFamilies)
        {
            <div>
                <h5>@Html.DisplayFor(myTitle => family.Title) (@Html.DisplayFor(myTitle => family.MarriageDate))</h5>
                @foreach (SimpleProfileInfo profile in family.Spouses)
                {
                    <div style="background-color:lightcoral;padding:20px;">
                        <h6>
                            <a href="@Html.DisplayFor(myUrl => profile.Url)">
                                @Html.DisplayFor(myUrl => profile.Name)
                            </a> (@Html.DisplayFor(myUrl => profile.Sex))
                        </h6>
                        <p>b: @Html.DisplayFor(myDate => profile.BirthDate) (@Html.DisplayFor(myDate => profile.BirthPlace))</p>
                        <p>d: @Html.DisplayFor(myDate => profile.DeathDate) (@Html.DisplayFor(myDate => profile.DeathPlace))</p>
                    </div>
                }
            </div>
            <div>
                <h5>@Html.DisplayFor(myTitle => family.Title) Children</h5>
                @foreach (SimpleProfileInfo profile in family.Children)
                {
                    <div style="background-color:lightcyan;padding:20px;">
                        <h6>
                            <a href="@Html.DisplayFor(myUrl => profile.Url)">
                                @Html.DisplayFor(myUrl => profile.Name)
                            </a> (@Html.DisplayFor(myUrl => profile.Sex))
                        </h6>
                        <p>b: @Html.DisplayFor(myDate => profile.BirthDate) (@Html.DisplayFor(myDate => profile.BirthPlace))</p>
                        <p>d: @Html.DisplayFor(myDate => profile.DeathDate) (@Html.DisplayFor(myDate => profile.DeathPlace))</p>
                    </div>
                }
            </div>
        }
        @foreach (ExtendedFamilyInfo family in Model.ExtendedProfile.ChildInFamilies)
        {
            <div>
                <h5>Parents (@Html.DisplayFor(myTitle => family.MarriageDate))</h5>
                @foreach (SimpleProfileInfo profile in family.Spouses)
                {
                    <div style="background-color:lightgreen;padding:20px;">
                        <h6>
                            <a href="@Html.DisplayFor(myUrl => profile.Url)">
                                @Html.DisplayFor(myUrl => profile.Name)
                            </a> (@Html.DisplayFor(myUrl => profile.Sex))
                        </h6>
                        <p>b: @Html.DisplayFor(myDate => profile.BirthDate) (@Html.DisplayFor(myDate => profile.BirthPlace))</p>
                        <p>d: @Html.DisplayFor(myDate => profile.DeathDate) (@Html.DisplayFor(myDate => profile.DeathPlace))</p>
                    </div>
                }
            </div>
            <div>
                <h5>Siblings</h5>
                @foreach (SimpleProfileInfo profile in family.Children)
                {
                    <div style="background-color:lightblue;padding:8px;">
                        <h6>
                            <a href="@Html.DisplayFor(myUrl => profile.Url)">
                                @Html.DisplayFor(myUrl => profile.Name)
                            </a> (@Html.DisplayFor(myUrl => profile.Sex))
                        </h6>
                        <p>b: @Html.DisplayFor(myDate => profile.BirthDate) (@Html.DisplayFor(myDate => profile.BirthPlace))</p>
                        <p>d: @Html.DisplayFor(myDate => profile.DeathDate) (@Html.DisplayFor(myDate => profile.DeathPlace))</p>
                    </div>
                }
            </div>
        }
    }
</div>
