@page
@model GeniShowProfileModel
@{
    ViewData["Title"] = "Show profile";
}
<h2>Details</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h4>Issue</h4>
    <hr />
    <div>
        @if (Model.ProfileData.Url != null)
        {
            <a href="@Html.DisplayFor(model => model.ProfileData.Url)">
                @Html.DisplayFor(model => model.ProfileData.Name)
            </a>
        }
        else
        {
            @Html.DisplayFor(model => model.ProfileData.Name)
        }
        @Html.DisplayFor(model => model.ProfileData.BirthDate) - @Html.DisplayFor(model => model.ProfileData.DeathDate)
    </div>
</div>